In [1]:
person = {
    "first": "Corey",
    "last": "Schafer",
    "email": "CoreyMSchafer@gmail.com"
}

In [2]:
people = {
    "first": ["Corey"],
    "last": ["Schafer"],
    "email": ["CoreyMSchafer@gmail.com"]
}

In [3]:
people = {
    "first": ["Corey", "Jane", 'John'],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

In [4]:
people

{'first': ['Corey', 'Jane', 'John'],
 'last': ['Schafer', 'Doe', 'Doe'],
 'email': ['CoreyMSchafer@gmail.com',
  'JaneDoe@gmail.com',
  'JohnDoe@gmail.com']}

In [5]:
person

{'first': 'Corey', 'last': 'Schafer', 'email': 'CoreyMSchafer@gmail.com'}

In [6]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']

In [7]:
person['email']

'CoreyMSchafer@gmail.com'

## Creating dataframe from this dictionary

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(people)

In [10]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

### Indexs
* Here on the far left are the index 0, 1, 2, .....
* It is the unique value for the rows
* It doesn't have the column name

## Accessing the information into the dataframe

### Accessing vlaues of single column

In [11]:
df['email']
# can also use "df.email"
# it gives the same output

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
2          JohnDoe@gmail.com
Name: email, dtype: object

### Here we can see that the output of df['email'] is different from output of people['email']
* This is because df['email'] returns a series
* According to the definition Series are 1 dimensional arrays
* Series is basically a list of data but has lots of fuctionality than lists.
* So the series are the rows of the single column of dataframe ==> In other words the series are the columns of th data frame.
* **Data Frame are basically a container for multiple series objects**
* If we see above the series printed also has indexs like the data frame has.

### The dot notation is not recommended 
* Because their can be some cases where the column name and the attribute name maybe be simillar
* In that case the we may encounter some errors
* Example: If a method name is **count** and the column name is also **count** and we try to access column by using **df.count**. Then this will access the **count() method** from that data frame and not the **column count**
* Hence it is preferable to use **df['count']** to access the column

In [12]:
type(df['email'])

pandas.core.series.Series

### Accessing multiple columns of data frame
* For that we will use bracket notation and pass a list of columns df['**HERE**'] like this **df[['last','email']]**
* Now the output of this will no longer will be series as the series is the single column of rows
* So the ouput of this will be another data frame or the filtered down version of the data frame

In [13]:
df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@gmail.com
2      Doe        JohnDoe@gmail.com

#### To get the names of all the columns we do this

In [14]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

### Accessing the row of the data frame 
* To get the entire row we can use "**loc**" and "**iloc**"

**iloc**:- It allows us to access rows by integer location hence the name iloc(integer location)
* It returns a series that contains the values of that particular row
* The indexes here are the column names so that we know what those values are

In [15]:
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

#### Accessing multiple rows of the data frame
* We can do that by passing in the list of integers like this -> **df.iloc[[0, 1]]**
* The oupute now will be a data frame and not series

In [16]:
df.iloc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com

* We can also select columns using **loc** and **iloc**
* That will be the second value that we pass into the outer brackets

In [17]:
# Getting the column name email
df.iloc[[0, 1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
Name: email, dtype: object

**loc**:- In loc we are going to be searching by label 
* lables will be indexes which will be default range of integers right now as we dont have custom index right now

In [18]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [19]:
df.loc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

* Just like iloc we can also pass list to specify multiple rows
* So if we want first and second rows we do ==> **df.loc[[0, 1]]**

In [20]:
df.loc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com

* here we get a dataframe back as a output
* Now just like with iloc we can also pass in second value in the indexer to select specific columns for this rows but instead of using integer we use the labels to select the columns
* SO if we want the email column for rows 0 and 1 we do ==> **df.loc[[0, 1], 'email']**
* We can also pass in the list of labels to select multiple columns.
* So if we want email and last name for the row 0 and row 1 we do ==> **df.loc[[0,1], ['email', 'last']]**

In [22]:
df.loc[[0, 1], 'email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
Name: email, dtype: object

In [23]:
df.loc[[0,1],['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@gmail.com      Doe