## Filtering-Using conditions to filter rows and columns

In [1]:
people = {
    "first": ["Corey", "Jane", 'John'],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

#### Comparing the column value with the desired value
* We use **df['column_name'] == 'desired value'**
* Here we get the output as a series object of boolean values
* So True is rows that met our criteria and False is rows that dowsn't met our criteria

In [8]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [9]:
# filt here is a variable that contains the series above.
filt = (df['last'] == 'Doe')

#### Applying filt to data frame

In [11]:
df[filt] # This is one way of applying filt to df

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@gmail.com

In [12]:
# We can also do like this
df[df['last'] == 'Doe']

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@gmail.com

* Using .loc for applying filter to the data frame
  * We use .loc by passing series of boolean we saw above
  * By using .loc we can also access the columns of the data frame

In [14]:
# using .loc for filtering the dataframe
df.loc[filt, 'email']

1    JaneDoe@gmail.com
2    JohnDoe@gmail.com
Name: email, dtype: object

#### Using AND and OR operation for filtering
* We cant use built in **'and'**, **'or'** keywords
* We will use **'&' for 'and'** and **'|' for 'or'**
* We can get the opposite of the filter by using **~** sign
    * So we do **df.loc[~filt, 'email']**

In [15]:
# all rows that have last name Doe and first name John
filt = ((df['last'] == 'Doe') & (df['first'] == 'John'))
df.loc[filt, 'email']

2    JohnDoe@gmail.com
Name: email, dtype: object

In [20]:
# all rows that hace last name Schefer or first name John
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')
df.loc[filt, 'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@gmail.com
Name: email, dtype: object

In [21]:
# getting opposite of the filters
df.loc[~filt, 'email']

1    JaneDoe@gmail.com
Name: email, dtype: object